.calculateButton
    margin: 0 auto
    padding:  10px
    width: 40%
    background-color: rgb(29, 170, 135)
    border-color: rgb(29, 170, 135)
    color: white

    text-decoration: none
    padding: 1em 2em
    outline: none
    border: solid 1px rgb(29, 170, 135)
    font-size: 0.7em
    border-radius: 40px
    transition: 1s;

    &:hover
        cursor: pointer
        background-color: rgb(20, 160, 125)
        border-color: rgb(20, 160, 125)

    &--reset
        background: #d9534f
        border-color: #d9534f

        &:hover
            background-color: #c9302c
            border-color: #ac2925
            