.calculateButton
    margin: 0 auto
    padding:  10px 20px
    background-color: #2196F3
    border-color: #2196F3
    color: white

    text-decoration: none
    padding: .8em 2em
    outline: none
    border-width: 2px 0
    border-style: solid none
    border-color: #2196F3 #000 #2a6292
    border-radius: 40px
    background: linear-gradient(#2196F3, #2a6292) #2a6292;
    transition: 0.2s;

    &:hover
        cursor: pointer
        border-color: #FDBE33 #000 #D77206
        background: linear-gradient(#f5ae00, #f59500) #f5ae00

    &--reset
        background: red
        color: whitesmoke